<?xml version='1.0' encoding='utf-8'?>
<widget id="com.moontv.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MoonTV</name>
  <description>
    Android TV App wrapper for MoonTV website
  </description>
  <author email="you@example.com" href="https://github.com/yourname">Your Name</author>

  <content src="index.html" />

  <access origin="*" />
  <allow-navigation href="*" />

  <preference name="Fullscreen" value="true" />
  <preference name="android-targetSdkVersion" value="33" />
  <preference name="Orientation" value="landscape" />

  <!-- Android TV 兼容 -->
 <platform name="android">
    <config-file parent="/manifest" target="AndroidManifest.xml" mode="merge">
      <uses-feature android:name="android.software.leanback" android:required="false" />
    </config-file>
    <config-file parent="/manifest" target="AndroidManifest.xml" mode="merge">
      <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    </config-file>
  </platform>
  
</widget>
